# Entornos virtuales
.venv/
venv/
.venv_/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y datos generados
*.csv
*.tsv
*.parquet
*.log
sistema_vigilancia/data/logs/

# Pesos / modelos de ML
*.pt
*.pth
*.onnx
*.pb
*.tflite
*.h5
*.ckpt
*.ckpt.*
*.safetensors
*.engine
*.plan
*.trt
*.mlmodel

# Entornos/IDE
.idea/
.vscode/

# Videos e Imágenes
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp

# Credenciales
config/*.json




